.App {
  margin: 4em;
}

h1 {
  font-size: 2em;
  margin: 0px;
}

h2 {
  font-size: 1em;
  margin: 0px 0px 12px 0px;
  font-weight: normal;
}

.header-div {
  margin-bottom: 1em;
}

.newsample-a {
  display: inline;
  margin-left: 12px;
}

.newlang-a {
  display: inline;
}

table {
  width: 67%;
}
table td {
  width: 20%;
  padding: 8px 0px;
}

ul{
  margin-top: 1em; 
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section {

}
ul li {
  padding: 8px;
  list-style-type: none;
}

.header-td {
  font-weight: bold;
  padding-right: 8px;
}